
{% extends "home.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<br><br><br>
<hr>
<div class="card mx-auto" style="width: 30rem;">
    <h1><b><center>Login</center></b></h1>
<hr>
  <div class="card-body">

<form method = "post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type = "submit" class = 'btn btn-success'>Log In</button>
    <a class = "btn btn-success" href = "{% url 'signup' %}" role = "button">Create Account</a>
</form>
  </div>
</div>

{% endblock content %}
