{% extends 'home.html' %}

{% block content %}
    <div class="bg-image d-flex justify-content-center align-items-center"
        style="background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');height: 99.5vh;">
        <div class="text-white text-center">
            <div class="mask" style="background-color: rgba(0,0,0,0.6)">
                <br><br><br><br><br><br><br>
                <h1><U>About Us</U></h1><br><br>
            <b>
            <p>Book Re-Use is a website which is intended for those people who love reading books and also for those people who doesn’t need the books for a long period of time.</p>
            <p>The book which is useless for us might be useful for others and both the buyer and seller will have to spend only less amount of money on the books that they need.</p>
            <p>The seller can put his/her book’s information, his/her contact information, location, and also the price of the book.</p>
            <p>Similarly, The buyers can contact the sellers from the contact information provided in the application.</p>
            <p>When the book is sold, the seller can delete all the information about that book. Therefore, this website will be helpful for all those people who are in their studying phase and for those book enthusiast who loves reading new books.</p>
            </b>
                <br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
