{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<br><br><br>
<hr>
  <h1>Contact Us</h1>
<div class="card" style="width: 50rem;">
  <div class="card-body">
   <form method="post" action="{% url 'contactus' %}">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br><br>
        <label for="request">Message:</label>
        <textarea name="request" id="request" required></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
{% endblock %}