
{% extends 'base.html' %}


{% block content %}
<br><br><br>
<br>
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ object.image.url }}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ object.title }}</h3>
            <hr>
            <p class="card-text"><b>Author:</b> {{ object.author }}</p>
            <p class="card-text"><b>Description:</b> {{ object.description }}</p>
            <h3 class="card-text"> </h3><hr>
          <p><b>Price: ₹ {{ object.price|floatformat:2 }}</b></p>
          {% if object.book_available is True %}
           <a href="{% url 'checkout' object.pk %}" class="btn btn-outline-light" role="button">Buy Now</a>
            {% else %}
            <h4 class="text-danger">Out of Stock !</h4>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
<div>
<hr>
            <p class="card-text"><b>Seller Details</b></p>
            <p class="card-text"><b>Seller:</b> {{ object.seller }}</p>
             <p class="card-text"><b>Contact:</b> {{ object.seller_contact }}</p>
            <p class="card-text"><b>Email:</b> {{ object.seller_email }}</p>
</div>

{% endblock content %}

