<!DOCTYPE html>
<html>
<head>
    <title>Update Book</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Update Book</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" required>{{ book.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" name="price" value="{{ book.price }}" required>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <img src="{{ book.image.url }}" width="100px" name="image" height="100px">

            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" name="image">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="book_available" name="book_available" {% if book.book_available %}checked{% endif %}>
                <label class="form-check-label" for="book_available">Book Availability</label>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
